<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- linux server -->
    <!--
    <add key="server" value="ftp://192.168.0.133" />
    <add key="userName" value="pentaho" />
    <add key="password" value="pa$$w0rd" /> 
    <add key="destinationName" value="/home/pentaho/ftp/" />
    -->
    
    <!-- windows server -->
    <!-- <add key="server" value="ftp://192.168.0.14" /> 
    <add key="server" value="ftp://10.20.2.15" />
    <add key="userName" value="ftpuser" />
    <add key="password" value="pa$$w0rd" />
    
    <add key="fileName" value="Source Code Check Out.txt" />
    <add key="fullName" value="C://Users//mdhiy//Downloads//current//Source Code Check Out.txt" />
    <add key="sourceName" value="C://Users//mdhiy//Downloads//current//" />
    <add key="destinationName" value="//current//" /> -->

    <add key="server" value="ftp://10.20.2.15" />
    <add key="userName" value="ftpuser" />
    <add key="password" value="pa$$w0rd" />
    <add key="fileName" value="Source Code Check Out.txt" />
    <add key="fullName" value="C://Users//mdhiy//Downloads//VMS//Source Code Check Out.txt" />
    <add key="sourceName" value="C://Users//mdhiy//Downloads//VMS//" />
    <add key="destinationName" value="//" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Console" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>